.del-btn{
    display: inline-block;
    float: right;
    background-color: white;
    color: black;
    border: none;
    padding: 5px 10px;
    margin: 10px 5px 0px 0px;
}
.del-btn:hover{
    background-color: #555555;
    color: white;
}
.text{
    display: inline-block;
    color: #fff;
    margin-left: 30px;
}
.TaskList{
    background: #703b09;
    margin: 10px;
}
.TaskList:hover{
    background: #8f5c2c;
}