.Todo {
    margin: 20px auto 20px auto;
    width: 500px;
    min-height: 600px;
    border: 5px solid rgba(73, 204, 249, 1.0);
    padding: 20px;
}
input{
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.addTodo {
    width: 15%;
    background-color: #703b09;
    color: white;
    padding: 14px 20px;
    margin: 8px 10pxне па;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.addTodo:hover {
    background-color: #8f5c2c;
}
